body{
    background-color: gray;
    align-items: center;
    margin: 400px;
    display: flex;
    justify-content: center; 
    position:absolute;
    transform: translate(5%, 5%);
    
}
#myPadding
{
    width: 70%;
    padding: 20px;
    border: 5px dashed black;
    background-color: gray;
    
  /* margin: 50px auto*/
}
h1 {
    color: blue;
}

p {
    color: yellow;
}

span {
    font-style: italic;
    color: cadetblue;
}